<!DOCTYPE html>
<html>
  <head>
    <title>FirstTestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="display: flex; justify-content: space-between; background: black; color: white; padding: 16px;">
      <%= link_to "Home", root_path %>
      <%= link_to "About us", about_path %>
      <%= link_to "Contact us", contact_path %>
    </div>
    <%= yield %>
  </body>
</html>
